.footer{
    height: 200px;
    border-top: 2px solid green;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    background-color: #99f590;
    align-items: center;
    padding: 50px;
    width: 100%;
    margin-top: 20px;
}
.title{
    font-weight: 800;
    color: #fff;
    background-color: darkgreen;
    padding: 5px;
    width: max-content;
}
.linkTitle{
text-decoration: underline;
}
.items{
    font-size: 14px;
    margin-bottom: 20px;
}
.linkText{
margin-right: 20px;
}
.content{
    flex: 2;
}
.locations{
    flex: 1;
}
@media(max-width: 990px){
    .footer{
        height: auto;
        flex-direction: column;
    }
    .linkTitle{
        font-size: 30px;
    }
    .item{
        text-align: center;
    }
 }
